services:
 frontend:
    build: 
      context: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app          
      - /app/node_modules         
      - /app/.next                
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true    
      - CHOKIDAR_USEPOLLING=true 