services:
  frontend:
    build:
      context: ./frontend
    ports:
      - '3000:3000'
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    environment:
      NODE_ENV: development
      NEXT_PUBLIC_API_URL: http://localhost:5001
      HOSTNAME: 0.0.0.0
      WATCHPACK_POLLING: 'true'
      WATCHPACK_POLLING_INTERVAL: '1000'
      CHOKIDAR_USEPOLLING: 'true'
